.standartForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #555;
}
